/* Write your CSS here */
.configuration-context-con {
  background-color: #475569;
  color: white;
  padding: 10px;
  padding-left: 50px;
  width: 100%;
}
.layout-heading {
  font-family: roboto;
  font-weight: bold;
}
.content-checkbox-con {
  margin-bottom: 10px;
}
